*, body {
    font-family: 'Gilroy-Bold ☞', sans-serif !important;
    font-weight: normal;

    scroll-behavior: smooth;
}

.pl-10 {
    padding-left: 10%;
}

.pt-35 {
    padding-top: 35px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-10 {
    padding-top: 100px;
}

.pb-10 {
    padding-bottom: 100px;
}

.mt-30 {
    margin-top: 300px;
}

.mt-20 {
    margin-top: 200px;
}

.mt-18 {
    margin-top: 180px;
}

.mt-15 {
    margin-top: 150px;
}

.mt-10 {
    margin-top: 100px;
}

.mb-10 {
    margin-bottom: 100px;
}

.mt-8 {
    margin-top: 80px;
}

.mb-8 {
    margin-bottom: 80px;
}

/* --------------------------------- */

/* Scroll Top */

/* --------------------------------- */

#scroll-top {
    position: fixed;

    z-index: 9999;

    right: 20px;
    bottom: 20px;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #FEBD2E;

    color: #000;

    font-size: 20px;

    transition: 300ms all;

    box-shadow: rgba(254, 188, 46, 0.2) 0px 0px 20px 0px;
}

#scroll-top:hover {
    box-shadow: rgba(254, 188, 46, 0.8) 0px 0px 20px 0px;
}

/* --------------------------------- */

/* Header */

/* --------------------------------- */

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.header {
    
    height: 90vh;
    width: 90vw;

    background-color: #FFF7E5;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: rgba(100, 100, 111, 0.15) 0px 0px 30px 0px;

    background-image: url("../images/header-img-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 120%;
}

/* --------------------------------- */

/* Navbar */

/* --------------------------------- */

.header .navbar-brand {
    padding-left: 100px;
    padding-right: 100px;

    text-align: center;
}


.header .logo {
    width: 80px;
    height: auto;

    transition: 300ms all;
}

.header .logo:hover {
    transform: scale(1.1);
}

.bg-white {
    background-color: #fff !important;
}

.navbar-nav {
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .navbar-nav {
        flex-direction: row;
    }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000 !important;
}

.nav-item a {
    transition: 300ms all;
}

.nav-item a:hover {
    color: #000 !important;
}

.badge {
    width: 25px;
    height: 25px;
    border-radius: 50% !important;

    display: flex;
    justify-content: center;
    align-items: center;

    right: -6px;
    top: -6px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}

.basket {
    width: 50px;
    height: 50px;
    
    background-color: #FEBD2E;
    color: #000 !important; 

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 300ms all;
}

.basket:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}

/* --------------------------------- */

/* Navbar - End */

/* --------------------------------- */

/* Content Area */

/* --------------------------------- */

.header h1 {
    font-size: 35pt;
    font-weight: normal;
}

.header .explore-menu-btn {
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: #232323;
    color: #fff;

    font-family: 'Gilroy-Medium ☞', sans-serif !important;
    font-size: 15px;

    border-radius: 50px;

    transition: 300ms all;

    text-decoration: none;
}

.header .explore-menu-btn:hover {
    color: #FEBD2E;

    box-shadow: rgba(100, 100, 111, 0.6) 0px 0px 20px 0px;
}

.header .explore-menu-btn .header-arrow {
    width: 28px;
    height: 28px;

    font-size: 12px;

    border: 1px solid #fff;
    border-radius: 50%;

    background-color: #FEBD2E;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-social-links {
    list-style-type: none;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 0;

}

.header-social-links .social-link a {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: #000;
    
    border-radius: 50%;

    font-size: 16px;

    box-shadow: rgba(100, 100, 111, 0.1) 0px 2px 25px 0px;

    transition: 300ms all;
}

.header-social-links .social-link a:hover {
    box-shadow: rgba(100, 100, 111, 0.25) 0px 2px 35px 0px;
}

/* --------------------------------- */

/* Content Area - End */

/* --------------------------------- */

/* Animation Area */

/* --------------------------------- */

@keyframes sushi-fly {
    0% {
        transform: translate(0px, 0px);
    }
    
    50% {
        transform: translate(5px, 10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes fly {
    0% {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.sushi-img {

    position: absolute;

    top: -5px;

    height: 90vh;
    width: 90vw;

    background-image: url("../images/sushi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    animation: 3s ease-in-out 0.33s infinite normal none running sushi-fly;
}

.woman-img {

    position: absolute;

    height: 90vh;
    width: 90vw;

    background-image: url("../images/just-woman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    animation: 3s ease-in-out 0.33s infinite normal none running fly;
}

/* --------------------------------- */

/* Animation Area - End */

/* --------------------------------- */

/* Header - End */

/* --------------------------------- */

/* Card Area */

/* --------------------------------- */

.card-area h1 {
    font-size: 35pt;
    font-weight: bold;
}

.card {
    width: 300px;
    height: 350px;

    margin: 0 auto;

    box-shadow: rgba(100, 100, 111, 0.15) 0px 0px 30px 0px;
    
    border-radius: 20px;
    border: none;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    transition: 300ms all;
}

.card span {
    font-size: 20px;
    font-weight: bold;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 40px 0px;
}

.card:hover.card img {
    animation: 2s ease-in-out 0.2s infinite normal none running fly;

}

/* --------------------------------- */

/* Card Area - End */

/* --------------------------------- */

/* What People Say Box */

/* --------------------------------- */

.what-people-say .img-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-people-say .img-col img {
    margin-top: -200px;

    width: 180%;
    height: auto;
}

.what-people-say h1 {
    font-size: 35pt;
    font-weight: bold;
}

.what-people-say .customer-comment {
    font-size: 11pt;

    font-family: 'Gilroy-Medium ☞', sans-serif !important;

    line-height: 2rem;
}

.what-people-say .customer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 15px;
}

.what-people-say .customer-container img {
    width: 55px;
    height: 55px;
    
    border-radius: 50%;

    box-shadow: rgba(100, 100, 111, 0.6) 0px 0px 20px 0px;
}

.what-people-say .customer-container .customer-details {
    position: relative;

    width: 100%;
}

.what-people-say .customer-container .customer-details .fa-quote-right {
    position: absolute;

    top: -60px;
    right: 10px;
    
    color: #FFF7E5;

    font-size: 80px;
}

.what-people-say .customer-container .customer-details h1 {
    font-size: 12pt;
    font-weight: bold;
}

.what-people-say .customer-container .customer-details span {
    color: rgb(80, 80, 80);
    font-size: 9pt;
}

.what-people-say .slider-arrows {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 15px;
}

.what-people-say .slider-arrows a {
    width: 40px;
    height: 40px;

    color: #000;

    border-radius: 50%;

    font-size: 18px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 20px 0px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: 300ms all;
}

.what-people-say .slider-arrows a:hover {
    background-color: #FEBD2E;

    box-shadow: rgba(254, 188, 46, 0.8) 0px 0px 20px 0px;
}

.what-people-say .slider-arrows a.active {
    background-color: #FEBD2E;

    box-shadow: rgba(254, 188, 46, 0.2) 0px 0px 20px 0px;

    transition: 300ms all;
}

.what-people-say .slider-arrows a.active:hover {
    box-shadow: rgba(254, 188, 46, 0.8) 0px 0px 20px 0px;
}

/* --------------------------------- */

/* What People Say Box - End */

/* --------------------------------- */

/* Footer */

/* --------------------------------- */

.footer {
    background-color: #F9F9F9;
}

.footer .flex-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer h1 {
    font-size: 22px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.footer ul li, .footer .links-col .info-container a,
.footer .flex-links a {
    margin-top: 10px;
}

.footer ul li a, .footer .links-col .info-container a,
.footer .flex-links a {
    font-family: 'Gilroy-Light ☞', sans-serif !important;
    color: #000;
    text-decoration: none;

    display: inline-block;
}

.footer .links-col ul li a::after,
.footer .links-col .info-container a::after,
.footer .flex-links a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms all;
  }

.footer .links-col ul li a:hover::after,
.footer .links-col .info-container a:hover::after,
.footer .flex-links a:hover::after {
    width: 100%;
}

.footer .footer-logo {
    width: 80px;
    height: auto;

    margin-top: -15px;
}

.footer .address-details {
    width: 60%;

    font-size: 12px;

    font-family: 'Gilroy-Light ☞', sans-serif !important;}

.footer-social-links {
    list-style-type: none;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 0;
    margin-top: 0 !important;

}

.footer-social-links li {
    margin-top: 0 !important;
}

.footer-social-links .social-link a {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    color: #000;
    
    border-radius: 50%;

    font-size: 16px;

    box-shadow: rgba(100, 100, 111, 0.1) 0px 2px 25px 0px;

    transition: 300ms all;
}

.footer-social-links .social-link a:hover {
    box-shadow: rgba(100, 100, 111, 0.25) 0px 2px 35px 0px;
}

.footer .line {
    width: 100%;
    height: 4px;
    background-color: #6d6d6d0e;
}

.footer .copyright {
    font-family: 'Gilroy-Light ☞', sans-serif !important;

    font-size: 14px;

    margin: 0;
}

.footer .links-col .email-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 30px;

    position: relative;

    width: 100%;
}

.footer .links-col .email-container input {
    
    width: 100%;
    height: 60px;

    outline: none;
    border: 1px solid #000;
    border-radius: 10px;

    background-color: #f3f3f3;

    padding: 20px;

    transition: 300ms all;
}

.footer .links-col .email-container input:hover  {
    box-shadow: rgba(100, 100, 111, 0.25) 0px 0px 25px 0px;
}

.footer .links-col .email-container input:focus  {
    box-shadow: rgba(100, 100, 111, 0.25) 0px 0px 25px 0px;
}


.footer .links-col .email-container .email-btn {
    height: 60px;
    width: 60px;

    position: absolute;

    right: -10px;

    border-radius: 10px;

    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    font-size: 26px;

    box-shadow: rgba(100, 100, 111, 0.25) 0px 0px 25px 0px;
}

.footer .links-col .info-container {
    margin-top: 20px;
}

.footer .links-col .info-container .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer .links-col .info-container .icon-a {
    font-size: 20px !important;
    color: #FEBD2E;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------- */

/* General Media Queries */

/* --------------------------------- */

@media screen and (max-width: 768px) {

    /* Header */

    .header .navbar-brand {
        padding: 0 !important;
    }

    .header-content h1 {
        font-size: 34px !important;
    }

    .header-content .explore-menu-btn {
        width: 150px !important;
        height: 35px !important;
    }

    /* Card Area */
    .card-area h1 {
        font-size: 28px !important;
    }

    .what-people-say .customer-col h1 {
        font-size: 28px;
        font-weight: bold;
    }

    /* Footer */

    .footer {
        padding-left: 20px;
    }

    .footer h1 {
        margin-top: 40px;
    }

    .footer .footer-bottom {
        margin: 0 auto !important;
    }

    .footer .footer-social-links {
        margin-top: 20px !important;
    }

    .footer .links-col .email-container {
        max-width: 90% !important;
    }

    .footer .footer-bottom p, .footer .footer-bottom ul {
        margin: 0 auto !important;
    }

    .footer .footer-bottom ul {
        margin-top: 20px !important;
    }
}

@media screen and (max-width: 1024px) {
    .what-people-say .img-col img {
        max-width: 100%;
    }

    .what-people-say .customer-col {
        margin-top: 100px !important;
    }

    .footer h1 {
        margin-top: 40px;
    }
}

/* --------------------------------- */
